*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.yaml
*.nyc_output*
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
/logs
/definitions
.vscode
jsconfig.json
schemas
typings
